#smallProfileBar {
  width: 95%;
  margin-left: 2.5%;
  height: 50px;
  background-color: #38474e;
  margin-bottom: 10px;
}

#smallProfileImg {
  margin: 3px;
  height: 40px;
  width: 40px;
  float: left;
  border: 2px solid #1e272b;
}

#smallProfileInfo {
  float: left;
  padding-left: 5px;
  margin: 5px;
}

#smallProfileName {
  color: rgb(200, 200, 210);
  margin: 0;
}

#smallProfileUsername {
  color: #647d88;
  margin: 0;
}

#unfollowButtonSmall {
  float: right;
  margin-top: 18px;
  margin-right: 7px;
  font-size: 12px;
  text-align: center;
  color: rgb(200, 200, 200);
  text-decoration: underline;
}

#unfollowButtonSmall:hover {
  cursor: pointer;
  color: white;
}

#unfollowButtonSmall:focus {
  outline: none;
  box-shadow: none;
}
