.createPostContainer {
	padding-top: 1%;
	padding-bottom: 4%;
	width: 100%;
	height: auto;
	min-height: 46vh;
	background-color: #202936;
}

.createPostComponent {
	height: auto;
	min-height: 46vh;
	margin-left: 1%;
	border: 6px solid #253749;
	border-radius: 10px;
	width: 98%;
	background-color: #253749;
}

.createPost {
	width: 86%;
	margin-left: 30px;
}

.tagLabel {
	margin-top: 1%;
	font-size: xx-large;
	font-weight: 300;
	color: #ececec;
}

.tagSelect {
	width: 20%;
}

.contentLabel {
	font-size: xx-large;
	font-weight: 300;
	color: #ececec;
}

.contentInput {
	width: 100%;
}

.inputPicture {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputPicture + label {
	margin-top: 1%;
	width: 140px;
	height: 26px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px transparent;
	background: #ececec;
	color: black;
	font-size: 14px;
	font-weight: 300;
	padding: 2px 12px;
	text-decoration: none;
	transition: all 0.1s ease-in-out;
	margin-bottom: 1%;
}

.inputPicture:focus + label,
.inputPicture + label:hover {
	background-color: transparent;
	transition: all 0.1s ease-in-out;
	border-color: #ececec;
	color: #ececec;
	cursor: pointer; /* "hand" cursor */
}

.postButton {
	margin-top: 1%;
	margin-left: 26%;
	margin-bottom: 4%;
	display: block;
	width: 400px;
	height: 40px;
	border-radius: 4px;
	background-color: #f2a365;
	border: solid 1px transparent;
	color: #ececec;
	font-size: 18px;
	font-weight: 300;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.postButton:hover {
	background-color: transparent;
	border-color: #ececec;
	transition: all 0.1s ease-in-out;
}
