#dashboardContainer {
	height: 93vh;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
	background-color: #283035;
}

.dashboardHeader {
 text-align: center;
 margin: 20px;
 color: #647d88;
}

#profileDashboardSegment {
  width: 500px;
}

#postDashboardSegment {
  width: 100%;
}

.dashboardSegment {
  background-color: #323f45;
  margin: 1% 0 1% 1%;
  float: left;
  overflow-y: scroll;
}
