.postEntryContainer {
	margin-left: 1%;
	border: 6px solid #38474e;
	padding: 30px;
	border-radius: 2%;
	margin-bottom: 4%;
	width: 98%;
	background-color: #38474e;
}

.tag {
	font-size: x-large;
	font-weight: bold;
	color: #ffffff;
	position: relative;
}

.text {
	font-size: medium;
	color: #ffffff;
	position: relative;
	padding-left: 60px;
}

.user {
	display: flex;
	flex-direction: row;
	padding-top: 5px;
}

.username {
	font-size: large;
	font-weight: bold;
	color: #ffffff;
	position: relative;
	padding-top: 11px;
	margin-left: 10px;
}

.avatar {
	margin-top: 2px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: relative;
	justify-self: start;
}

.img {
	padding-top: 15px;
	padding-left: 60px;
	max-width: 90%;
	max-height: 90%;
	min-width: 20%;
	min-height: 20%;
}

.noimg {
	width: 0px;
	height: 0px;
}

.likes {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.likeButton {
	color: #ffffff;
}

.likeIcon {
	color: #ffffff;
}

.filledLikeIcon {
	color: #ffffff;
}

.likeNum {
	display: flex;
	flex-direction: column;
	color: #ffffff;
	font-size: large;
	font-weight: bold;
	margin-right: 4%;
	margin-bottom: 11px;
	justify-content: flex-end;
}

.commentListItem {
	margin-top: 1%;
	width: 99%;
	background-color: #323f45;
	border-radius: 3%;
	border-width: 4px;
	border-color: #323f45;
}

.commentuser {
	font-size: large;
	font-weight: bold;
	color: #ffffff;
	position: relative;
}

.comment {
	font-size: medium;
	color: #ffffff;
	position: relative;
}

.commentInput {
	margin-top: 2%;
	width: 99%;
}
