.tag {
  font-size: x-large;
  font-weight: bold;
  color: #ffffff;
  position: relative;
}

.text {
  font-size: medium;
  color: #ffffff;
  position: relative;
}

.user {
  font-size: large;
  font-weight: bold;
  color: #ffffff;
  position: relative;
}

.commentuser {
  font-size: large;
  font-weight: bold;
  color: #ffffff;
  position: relative;
}

.comment {
  font-size: medium;
  color: #ffffff;
  position: relative;
}
