body {
    background-color: #323f45;
}

#passwordResetContainer {
    width: 100%;
    height: 100%;
    text-align: center;
}

#passwordResetContainer h1 {
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}

#passwordResetComponent {
    border: solid 1px;
    border-radius: 2%;

    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 40%;
    margin-right: 40%;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: white;
}