#userInfo {
	height: 745px;
	width: 350px;
	margin: 10px;
	float: left;
	position: relative;
}

.userInfoComponent {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #202936;
}

#userInfoMain img {
	border-radius: 4px;
	height: 200px;
	width: 200px;
	margin-top: 25px;
	margin-left: 58px;
	border: 0px;
}

#userInfoMain h1 {
	text-align: center;
	margin: 0;
	margin-top: 5px;
	font-size: 38px;
	font-weight: 300;
	color: #ececec;
}

#userInfoMain h3 {
	text-align: center;
	margin: 5px;
	color: #647d88;
}

#userInfoMain ul {
	height: 40px;
	margin-top: 15px;
	margin-bottom: 22px;
	font-size: 16px;
	text-align: center;
	box-sizing: border-box;
	padding-inline-start: 0;
}

#userInfoMain li {
	list-style: none;
	width: 50%;
	height: 50px;
	float: left;
	color: #647d88;
}

/* #userInfoMain li:hover{
  cursor: pointer;
  background-color: #38474e;
} */

#userInfoMain .follow-amount {
	font-size: 20px;
}

.bio {
	background-color: #253749;
	border-radius: 4px;
	padding: 7px 15px;
	width: 100%;
	height: 94px;
	font-size: 16px;
	color: #ececec;
	resize: none;
	padding-bottom: 0px;
}

.breakLongWords {
	overflow-wrap: break-word;
}

#editableBioContainer {
	position: relative;
}

#bioCharLimitNotice {
	bottom: 5px;
	right: 5px;
	color: #ececec;
	font-size: 10px;
	position: absolute;
}

#viewableBio {
	/* margin-bottom: 6px; */
}

#editableBio {
	box-sizing: border-box;
	border: 1px #647d88 dashed;
	position: relative;
}

#favouriteThings {
	padding: 10px;
	height: 215px;
}

#favouriteThingsContainer {
	width: 310px;
	height: 140px;
	margin: 0;
	padding: 10px;
	padding-right: 0;
	background-color: #253749;
	border-radius: 4px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

#favouriteThings h4 {
	font-size: 25px;
	/* margin: 5px 0 10px 5px; */
	color: #ececec;
	font-weight: 300;
}

#editProfileText {
	font-size: 12px;
	color: #aaaaaa;
	position: absolute;
	top: 5px;
	left: 10px;
}

#editProfileText:hover {
	color: #ececec;
	cursor: pointer;
}

#addFavouriteThingsButton {
	margin-top: 5px;
	margin-right: 10px;
	width: 70px;
	height: 105px;
	border: 2px dashed #202936;
	box-sizing: border-box;
	float: left;
	padding-top: 15px;
	font-size: 40px;
	font-weight: lighter;
	padding-left: 22px;
}

#addFavouriteThingsButton:hover {
	font-weight: normal;
	cursor: pointer;
	border: 3px solid;
	font-weight: normal;
	padding-top: 14px;
	padding-left: 21px;
	background-color: #48575e;
}

#bigProfileButton {
	margin-top: 22px;
	height: 40px;
	width: 95%;
	margin-left: 2.5%;
	background-color: #f2a365;
	color: #ececec;
	border: solid 1px transparent;
	border-radius: 4px;
	text-align: center;
	padding-top: 6px;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 15px;
}

#bigProfileButton:hover {
	background-color: transparent;
	border-color: #ececec;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}

/* #removeFavouriteThingsButton {
  margin-top: 5px;
  margin-right: 10px;
  width: 70px;
  height: 105px;
  border: 2px dashed #202936;
  box-sizing: border-box;
  float: left;
  padding-top: 12px;
  font-size: 40px;
}

#backText {
  margin-left: 21px;
  font-weight: normal;
  font-size: 18px;
}

#removeFavouriteThingsButton:hover {
  font-weight: normal;
  cursor: pointer;
  border: 2.5px solid;
} */
