#homeContainer {
	height: 93vh;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
	background-color: #283035;
}

#friendListContainer {
	width: 22%;
	position: relative;
	background-color: #323f45;
}

#postListContainer {
	width: 78%;
	position: relative;
	background-color: #283035;
	overflow-y: scroll;
}

#adminDashboardButton {
  position: absolute;
  width: 295px;
  height: 200px;
  background-color: #283035;
  z-index: 1;
  bottom: 10px;
  left: 10px;
	text-align: center;
	padding-top: 80px;
	color: #AAAAAA;
}

#adminDashboardButton:hover {
  background-color: #647d88;
	color: #283035;
}
