#adminDashboardButton {
	position: absolute;
	width: 345px;
	height: 100px;

	background-color: #f2a365;
	border: solid 1px transparent;
	color: #ececec;

	border-top-left-radius: 40%;
	border-top-right-radius: 40%;
	z-index: 1;
	bottom: 10px;
	left: 10px;
	text-align: center;
	padding-top: 40px;
	color: #ececec;
	font-size: 20px;
}

#adminDashboardButton:hover {
	background-color: transparent;
	border-color: #ececec;
	transition: all 0.1s ease-in-out;
}
