#profile {
}

#navPlaceholder {
  height: 50px;
  color: white;
  text-align: center;
  background-color: rgb(100, 100, 110);
}

#userPosts {
  height: 745px;
  width: 740px;
  float: left;
}

#userStatsLinks {
  height: 215px;
  width: 300px;
}

#secondProfilePageBar {
  height: 800px;
  width: 300px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.profilePageComp {
  background-color: rgb(100, 100, 110);
  margin: 10px 10px 0 0;

}
