#profileContainer {
  height: 93vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  background-color: #1e272b;
}

#middleProfilePageBar {
  margin-top: 10px;
  margin-right: 10px;
  width: 100%;
  height: 735px;
  float: left;
}

#userPosts {
  height: 465px;
  width: 100%;
}

#userStatsPreview {
  height: 260px;
  width: 100%;
}

.profilePageComp {
  background-color: #323f45;
  margin: 0 0 10px 0;
  float: left;
  color: rgb(200, 200, 210);
  padding: 15px;
  text-align: center;
}
