#searchBar {
	height: 40px;
	padding-top: 5px;
	position: relative;
	margin-left: 10px;
	font-size: 16px;
}

#searchBar input {
	border: none;
	border-radius: 4px;
	padding-left: 10px;
	padding-bottom: 3px;
	width: 260px;
	height: 30px;
	background-color: #ececec;
	color: #253749;
}

#searchBar input::placeholder {
	color: #253749;
	/* opacity: 50%; */
}

#searchBar input:focus {
	outline: none;
}

#searchedProfilesContainer {
	height: 370px;
	width: 280px;
	/* background-color: red; */
	position: absolute;
	top: -10px;
	left: 0px;
	z-index: -1;
	background-color: #252d3d;
	box-shadow: #202936 0 0 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-top: 55px;
}

#searchBarSeparator {
	border-bottom: solid 1px #f2a365;
	width: 95%;
	margin-left: 2.5%;
	margin-bottom: 10px;
}
