#searchBar {
  height: 40px;
  padding-top: 5px;
  position: relative;
  margin-left: 10px;
  font-size: 16px;
}

#searchBar input {
  border: none;
  border-radius: 50px;
  padding-left: 10px;
  padding-bottom: 3px;
  width: 260px;
  height: 30px;
  background-color: #647d88;
  color: #1e272b;
}

#searchBar input::placeholder {
  color: #1e272b;
  opacity: 50%;
}

#searchBar input:focus {
  outline:none;
}

#searchedProfilesContainer {
  height: 370px;
  width: 280px;
  background-color: red;
  position: absolute;
  top: -10px;
  left: 0px;
  z-index: -1;
  background-color: #1e272b;
  box-shadow: #667f9B 0 0 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 55px;
}

#searchBarSeparator {
  border-bottom: solid 1px #667f9B;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 10px;
}
