#homeContainer {
	height: 93vh;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
}

#friendListContainer {
	width: 23%;
	position: relative;
	background-color: #323f45;
}

#postListContainer {
	width: 77%;
	position: relative;
	background-color: #323f45;
	overflow-y: scroll;
}
