#homeContainer {
  height: 93vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}

#friendListContainer {
  width: 25%;
  position: relative;
  background-color: #323f45;
  text-align: center;
  overflow-y: scroll;
}

#postListContainer {
  width: 75%;
  position: relative;
  background-color: #323f45;
  overflow-y: scroll;
}
