#statViewContainer {
    position: absolute;
    width: 100%;
    background-color: rgb(20, 17, 27);
}

.categoryContainer {
    background-color: rgb(45,60,75);
    margin: 20px;
    border-radius: 10px;
}

.statsContainer {
    
    justify-content: left;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
.chartCanvas {
    width: 100%;
}

.chartContainer {
    border-radius: 10%;
    width: 300px;
    min-width: 300px;
    height: fit-content;
    padding: 10px;
    background-color: rgb(70, 90, 110);
    border: 2px solid black;
    margin: 30px;
    transition: all .1s ease-in-out;
    
    
}
.chartContainer:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.categoryTitle {
    display: block;
    font-size: 30px;
    color: white;
    padding-left: 50px;
    
    font-weight: bold;
    text-align: left;
}

.addStatButton {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    min-width: 50px;
    height: 50px;
    margin-right: 30px;
    margin-top: 140px;
    font-size: 20px;
    font-family: "europa", sans-serif;
    font-weight: bold;
    color: white;
    outline: none;
  }
 .addStatButton:hover {
    background-color: gray;
    outline: none;
  }
  .addStatButton:active {
    background-color: darkgray;
  }

.statsContainer::-webkit-scrollbar {
    min-height: 10px;
  }
  
  /* Track */
  .statsContainer::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  .statsContainer::-webkit-scrollbar-thumb {
    background: rgb(115, 116, 180); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .statsContainer::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  button {
      outline: none;
  }

  button:hover {
      cursor: pointer;
  }